*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* 1rem = 10px */
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body {
  font-family: var(--font-family-poppins), sans-serif;
  font-size: var(--font-size-default);
  background-color: var(--color-white);
  min-height: 100vh;
  line-height: 1.5;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

ul[role=list],
ol[role=list] {
  list-style: none;
}

img,
picture {
  max-width: 100%;
  display: block;
}

h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

textarea:not([rows]) {
  min-height: 10em;
}

:target {
  scroll-margin-block: 5ex;
}

.section-header .section-title-box .section__title {
  font-size: 3.6rem;
  font-weight: var(--font-weight-semibold);
  line-height: 1.4;
  letter-spacing: 0.25px;
}
@media screen and (max-width: 48.1em) {
  .section-header .section-title-box .section__title {
    font-size: 2.4rem;
  }
}

.section-header .section-title-box .section__subheading {
  font-size: 3.6rem;
  font-weight: var(--font-weight-extra-light);
  line-height: 1.4;
  letter-spacing: 0.25px;
}
@media screen and (max-width: 48.1em) {
  .section-header .section-title-box .section__subheading {
    font-size: 2.4rem;
  }
}

.four-card-feature-container .card-feature__title {
  font-size: 2rem;
  font-weight: var(--font-weight-semibold);
  line-height: 1.35;
}

.section-header .section__text {
  font-size: 1.5rem;
  font-weight: var(--font-weight-regular);
  line-height: 1.4;
  letter-spacing: 0.1px;
}

.four-card-feature-container .card-feature__text {
  font-size: 1.3rem;
  font-weight: var(--font-weight-regular);
  line-height: 1.6;
  letter-spacing: 0.09px;
}

:root {
  --color-primary-red: hsl(0, 78%, 62%);
  --color-primary-cyan: hsl(180, 62%, 55%);
  --color-primary-orange: hsl(34, 97%, 64%);
  --color-primary-blue: hsl(212, 86%, 64%);
  --color-gray-500: hsl(234, 12%, 34%);
  --color-gray-400: hsl(212, 6%, 44%);
  --color-white: hsl(0, 0%, 100%);
  --font-family-poppins: "Poppins";
  --font-size-default: 1.5rem;
  --font-weight-extra-light: 200;
  --font-weight-regular: 400;
  --font-weight-semibold: 600;
}

.main {
  min-height: inherit;
  padding: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.four-card-feature-section {
  display: grid;
  justify-items: center;
  gap: 7.4rem;
}
@media screen and (max-width: 48.1em) {
  .four-card-feature-section {
    gap: 6rem;
  }
}

.section-header {
  display: grid;
  grid-template-columns: minmax(min-content, 54rem);
  gap: 1.6rem;
  text-align: center;
}
.section-header .section-title-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-header .section-title-box .section__subheading {
  color: var(--color-gray-500);
}
.section-header .section-title-box .section__title {
  color: var(--color-gray-500);
}
.section-header .section__text {
  color: var(--color-gray-500);
}

.four-card-feature-container {
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
  gap: 3.2rem;
}
@media screen and (max-width: 61.2em) {
  .four-card-feature-container {
    grid-template-columns: auto;
  }
}
.four-card-feature-container .card-feature {
  max-width: 35rem;
  min-height: 25rem;
  padding: 3.2rem;
  border-radius: 0.8rem;
  box-shadow: 0 1.5rem 3rem -1.1rem rgba(131, 166, 210, 0.5);
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}
.four-card-feature-container .card-feature--cyan {
  border-top: 0.8rem solid var(--color-primary-cyan);
}
.four-card-feature-container .card-feature--red {
  border-top: 0.8rem solid var(--color-primary-red);
}
.four-card-feature-container .card-feature--orange {
  border-top: 0.8rem solid var(--color-primary-orange);
}
.four-card-feature-container .card-feature--blue {
  border-top: 0.8rem solid var(--color-primary-blue);
}
.four-card-feature-container .card-feature-title-box {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}
.four-card-feature-container .card-feature__title {
  color: var(--color-gray-400);
}
.four-card-feature-container .card-feature__text {
  color: var(--color-gray-400);
}
.four-card-feature-container .card-feature__icon {
  width: 6.4rem;
  height: 6.4rem;
  align-self: end;
}
.four-card-feature-container .card-feature-container--middle {
  display: grid;
  gap: 3.2rem;
}
@media screen and (max-width: 61.2em) {
  .four-card-feature-container .card-feature-container--middle {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 48.1em) {
  .four-card-feature-container .card-feature-container--middle {
    grid-template-columns: auto;
  }
}

/*# sourceMappingURL=style.css.map */
